.panhon-red{
    color: #990000;
}

img.qiyewenhua1{
    margin-left: calc(0%);
    margin-right: 20px;
    width: calc(25%);
}
img.qiyewenhua2{
    margin-left: calc(25%);
    margin-right: 20px;
    width: calc(25%);
}

img.qiyewenhua3{
    margin-right: calc(25%);
    margin-left: 20px;
    width: calc(25%);
}

img.qiyewenhua4{
    margin-right: calc(0%);
    margin-left: 20px;
    width: calc(25%);
}
