/* nav */
#sidebar-right ul.menu>li.menu-item>ul.sub-menu>li.menu-item-type-post_type{
  padding-left: 25px;
}

@media only screen and (max-device-width: 768px) {
    .widget_nav_menu{
        display: none;
    }
    #subheader .subheader-color .full-header-content{
        margin: initial;
    }
}

@media only screen and (max-width: 768px) {
    .widget_nav_menu{
        display: none;
    }
    #subheader .subheader-color .full-header-content{
        margin: initial;
    }
}


#subheader .subheader-color .full-header-content{
    width: initial !important;
}
#subheader .second-subheader h3{
    color: #990000 !important;
    margin: initial;
}

.panhon-red{
    color: #990000;
}
.f-30{
    font-size: 30px;
}
.f-40{
    font-size: 40px;
}

img.qiyewenhua1{
    margin-left: calc(0%);
    margin-right: 20px;
    width: calc(25%);
}
img.qiyewenhua2{
    margin-left: calc(25%);
    margin-right: 20px;
    width: calc(25%);
}

img.qiyewenhua3{
    margin-right: calc(25%);
    margin-left: 20px;
    width: calc(25%);
}

img.qiyewenhua4{
    margin-right: calc(0%);
    margin-left: 20px;
    width: calc(25%);
}

.tag {
  font-size:22px;
  background: #F5821E;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 36px;
  width: 50%;
  line-height: 36px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 16px;
}

.tag::after {
  background: white;
  border-bottom: 18px solid transparent;
  border-left: 10px solid #F5821E;
  border-top: 18px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

/*.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}*/
